<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" 
           Name="TeamBuildTrayInstaller" 
           Language="1033" 
           Version="1.0.0.0" 
           Manufacturer="Bigwave"
           UpgradeCode="9819ff2a-9b01-4adf-a59f-6400ca518dc3">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="TeamBuildTrayInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="TeamBuildTrayInstaller" />
			</Directory>
  <Directory Id="ProgramMenuFolder" Name="PMenu">
        <Directory Id="ProgramMenuDir" Name="TeamBuildTray" />
      </Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<Component Id="TargetPath">
        <File Source="$(var.TeamBuildTray.TargetPath)" KeyPath="yes">
          <Shortcut Id="startmenuAdv"
                        Directory="ProgramMenuDir"
                        Advertise="yes"
                        Name="Team Build Tray"
                        WorkingDirectory="INSTALLDIR"
                        Icon="Icon.exe">
 
                <Icon Id="Icon.exe" SourceFile="$(var.TeamBuildTray.TargetPath)" />
              </Shortcut>
          </File>
      <RemoveFolder Id="DeleteShortcutFolder"
                Directory="ProgramMenuDir"
                On="uninstall" />
      </Component>
      <Component Id="Amber.ico">
        <File Source="$(var.TeamBuildTray.TargetDir)/Resources/Amber.ico" />
      </Component>
      <Component Id="Green.ico">
        <File Source="$(var.TeamBuildTray.TargetDir)/Resources/Green.ico" />
      </Component>
      <Component Id="Grey.ico">
        <File Source="$(var.TeamBuildTray.TargetDir)/Resources/Grey.ico" />
      </Component>
      <Component Id="Microsoft.TeamFoundation.WorkItemTracking.Client.DataStoreLoader.dll">
        <File Source="$(var.TeamBuildTray.TargetDir)/Microsoft.TeamFoundation.WorkItemTracking.Client.DataStoreLoader.dll" />
      </Component>
      <Component Id="Microsoft.WITDataStore.dll">
        <File Source="$(var.TeamBuildTray.TargetDir)/Microsoft.WITDataStore.dll" />
      </Component>
      <Component Id="Red.ico">
        <File Source="$(var.TeamBuildTray.TargetDir)/Resources/Red.ico" />
      </Component>
      <Component Id="System.Net.Http.Formatting.dll">
        <File Source="$(var.TeamBuildTray.TargetDir)/System.Net.Http.Formatting.dll" />
      </Component>
      <Component Id="System.Web.Http.dll">
        <File Source="$(var.TeamBuildTray.TargetDir)/System.Web.Http.dll" />
      </Component>
      <Component Id="TeamBuildTray.exe.config">
        <File Source="$(var.TeamBuildTray.TargetDir)/TeamBuildTray.exe.config"/>
      </Component>
      <Component Id="Actions.dll">
        <File Source="$(var.TeamBuildTray.TargetDir)/Actions.dll"/>
      </Component>
      <Component Id="Entities.dll">
        <File Source="$(var.TeamBuildTray.TargetDir)/Entities.dll"/>
      </Component>
      <Component Id="Executors.dll">
        <File Source="$(var.TeamBuildTray.TargetDir)/Executors.dll"/>
      </Component>
      <Component Id="Persistors.dll">
        <File Source="$(var.TeamBuildTray.TargetDir)/Persistors.dll"/>
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>